//spacers
$spc-20: 20px;
$spc-50: 50px;
$spc-75: 75px;
$spc-100: 100px;

//colors
$color-gray: #605f5e;
$color-red: #fb3640;
$color-blue: #0a2463;
$color-light-blue: #247ba0;
$color-white: #e2e2e2;
//
